@charset "UTF-8";

html {
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  /*box-sizing: border-box;*/
}

body {
  line-height: 1.562;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

nav ul {
  list-style: none;
}

/* header */
.header {
  background: #3E9D8F;
}

.header-wrap {
  /*padding: 2.1% 3.47%;*/
  padding: 1% 3.47%;  
}

.header-wrap-inner {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #fff;
  /*padding: 1.38% 2.08%;*/
  /*padding: 1%;*/
  padding: 5px;
  border-radius: 3rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.header-wrap__logo {
  /*width: 25.68rem;*/
  width: 15rem;
}

.header-wrap__logo img {
  width: 100%;
  height: 100%;
}

.header-wrap__nav {
  width: 58.1%;
}

.header-wrap__nav__list {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
}

.header-wrap__nav__list__item a:hover {
  color: #888;
  border-bottom: solid 2px #ddd;
}

.header-wrap__nav__list__item__contact a {
  color: #fff;  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* 問い合わせボタン */
.header-wrap__nav__list__item__contact {
  background-color: #000;
  padding: 0;
  transition: all 0.8s;
  border-radius: 50px;
  width: 18.2%;
  /*height: 3rem;*/
  /*height: 2.1rem;*/
  height: 2.8rem;

}

.header-wrap__nav__list__item__contact:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(0.99, 0.99) translateY(2px);
}

/* レスポンシブ適用時、ハンバーガーになる */
.drawer {
  visibility: hidden; /*要素を隠す visible に設定されていれば可視*/
}


/* main */

/* top */

.top {
  position: relative;
}

.inner {
  width: 93.05%;
  margin: 0 auto;
}

.top-wrap {
  display: flex;
  padding: 0 3.47%;
  flex-direction: column;
}

.top-wrap-block {
  display: flex;
  padding: 0 8%;
}

/*背景*/
.top-wrap-back {
  position: absolute;
  z-index: -1;
  background: #3E9D8F;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
}

.yellow_circle { 
  position: absolute;
  z-index: -1;
  background: #F0E68C;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;  
  right: 3rem;
  bottom: 3rem;
}

.pink_circle {
  position: absolute;
  z-index: -1;
  background: #FFB6C1;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  right: 7rem;
  bottom: 6rem;
}


.top-wrap__ttl {
  color: #fff;
  font-size: 4.16vw;
  font-weight: 700;
  padding-left: 8%;
  /*padding-top: 7.5%;*/
  padding-top: 25px;
  padding-bottom: 25px;
}

.top-wrap-left__txt_1 {
  color: #fff;
  line-height: 1.8;
  font-size: 1.56rem;
  /*margin-bottom: 18%;*/
  margin-bottom: 10%;
}

.top-wrap__txt_2 {
  color: #fff;
  font-size: 1.56rem;
  line-height: 2.25;
}

.top-wrap__txt_3 {
  color: #fff;
  font-size: 1.56rem;
  border: solid 2px #fff;
  display: inline-block;
  padding: 0.65rem;
  border-radius: 10px;
  margin-bottom: 25px;
}

.top-wrap-left__txt_3 {
  display: flex;
  margin-bottom: 12.7%;
}

.top-wrap__txt_3__dw {
  /*width: 41%;*/
  width: 35%;
  margin-right: 25px;
}

.top-wrap__txt_3__dw img {
  width: 100%;
}

.top-wrap-right {
  width: 28.79vw;
  display: flex;
  align-items: flex-end;
}

.top-wrap-right__img {
  /*height: 79vh;*/
  width: 28.79vw;
  aspect-ratio: 4/6;
}


.top-wrap-right__img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}



/*お悩み*/
.problem {
  background: linear-gradient(to bottom, #3E9D8F, #F7FCFB);
  padding-bottom: 6.95%;
}

/*吹き出し*/
.problem-wrap-block1 {
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  position: relative;
}

/*三角*/
.problem-wrap-block1::before {
  content: '';
  position: absolute;
    bottom: -25px;
    left: 48%;
    margin-left: -10px;
    width: 50px;/*影をつけるために線幅で設定せずにboxを使用する*/    
    height: 50px;
    transform: rotate(45deg);/* 回転 */   
    background: #fff;/* 吹き出しの地と同じ色 */    
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


.problem-wrap-block1__inner {
  width: 83.4%;
  margin: 0 auto;
  padding: 4.4% 0;
}

.problem-wrap-block1__inner__ttl {
  text-align: center;
}

.ttl__copy {
  color: #FFB6C1;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-block;
  border-bottom: solid 2px #FFB6C1;
  line-height: 1.875;
  margin-bottom: 2.1875rem;
}

.ttl__problem {
  font-size: 2.125rem;
  font-weight: bold;
  margin-bottom: 2.1875rem;
}



.problem-wrap-block1__people__all {
  display: flex;
  justify-content: space-between;
}

.problem-people {
  width: 20.9vw;
  /*height: 58.5vh;*/
}

/*吹き出し*/
.problem-people-baloon {
  background: #EDEDED;
  border-radius: 30px;
  padding: 10%;
  position: relative;
}

/*大きい円*/
.problem-people-baloon::before {
  position: absolute;
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: #EDEDED;
  border-radius: 50%;
    /*円の位置を指定*/
  right: 20px;
  top: 145px;
}
/*小さい円*/
.problem-people-baloon::after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #EDEDED;
  border-radius: 50%;
    /*円の位置を指定*/
  right: 40px;
  top: 175px;
}

.problem-people-img {
  /*width: 13.2vw;*/
  width: 17vw;
  height: 34.8vh;
  margin: 12.5% auto 0;
  aspect-ratio: 2/3;
}

.problem-people-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: bottom;
}

.problem-wrap-block2 {
  text-align: center;
  padding-top: 7.5%;
}

.problem-block2-copy {
  display: inline-block;
  color: #fff;
  background: #FFB6C1;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 1.25rem;
  font-weight: bold;
}

.logo_mark {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 2.6% 0;
}

.logo_mark img {
  display: inline-block;
    border-bottom: #F0E68C solid 10px;
}

.logo_mark_txt {
  font-size: 2.19rem;
  font-weight: bold;

  display: inline-block;
  border-bottom: #F0E68C solid 10px;
  line-height: 1;
}

.logo_mark_txt strong {
  font-size: 2.8rem;
  font-weight: bold;
}

.problem-block2-txt {
  font-size: 2.19rem;
  font-weight: bold;

  display: inline-block;
  border-bottom: #F0E68C solid 10px;
  line-height: 1;
}

.problem-block2-txt strong {
  font-size: 2.8rem;
  font-weight: bold;
}


/* 解決3任 */
.problem-wrap-block3__people__all {
  display: flex;
  justify-content: space-between;
  padding-top: 3.8%;
}

.solution-people {
  background: #fff;
  border-radius: 30px;
  width: 26.8vw; /*14.4px × 26.8vw = 385.92 */
  padding: 3.8% 1.5%;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.solution-people-img {
  width: 13.11vw;
  height: 20.47vh;
  margin: 0 auto;
}

.solution-people-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.solution-people-copy {
  background: #3E9D8F;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.625rem 1.875rem;
  display: inline-block;
  border-radius: 3rem;
}

.solution-people-copy2 {
  font-size: 2.82rem;
  font-weight: bold;
  padding: 1.56rem 0;
}

.solution-people-txt {
  background-color: #E5F4F2;
  padding: 10px;
  text-align: start;
  border-radius: 30px;
}


/* 機能・特徴About */
.about {
  padding: 7% 0;
  background-color: rgba(229, 244, 242, 0.25);
  
}

.about-wrap, .__wrap {
  width: 78.13%;
  margin: 0 auto;
}

/*--タイトル 他と共通で使う--*/
.wrap-ttl {
  text-align: center;
  /*padding-bottom: 4.5%;*/
}

.wrap-ttl__copy {
  color: #FFB6C1;
  font-size: 1.25rem;
  font-weight: bold;
  display: inline-block;
  border-bottom: solid #FFB6C1 3px;
  line-height: 1.875;
}

.wrap-ttl__ttl {
  font-size: 2.82rem;
  font-weight: bold;
  padding: 1.4%;
}

.wrap-ttl__ttl__sub {
  font-size: 1.57rem;
  font-weight: bold;
}
/*--タイトル 他と共通で使う--*/

.about-wrap__all__block {
  border: solid #3E9D8F 8px;
  border-radius: 3rem;
  padding: 4.5% 8.8%;
  margin-top: 4.5%;
  background: #fff;
}

.about-wrap__all__block__inner {
  display: flex;
  justify-content: space-between;
}

.about-wrap__all__block__inner__left {
  width: 25.8%;
  display: flex;
  align-items: center;
}

.about-wrap__all__block__inner__left img {
  width: 100%;
  /*height: 100%;*/
  aspect-ratio: auto  ;
}

.about-wrap__all__block__inner__right {
  width: 66.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.block__inner__ttl__t {
  font-size: 2.81rem;
  font-weight: bold;
  display: inline-block;
  border-bottom: solid #F0E68C 10px;
  line-height: 1;
  margin-bottom: 4.47%;
}

.block__inner__txt {
  padding: 1.7%;
}

.__rev1 {
  flex-flow: row-reverse;
}


/* ご利用方法how */
.how {
  padding: 7% 0;
}

.how-wrap {
  width: 78.13%;
  margin: 0 auto;
}

.how-wrap__all {
  margin-top: 4.5%;
  margin-bottom: 4.5%;
  display: flex;
  justify-content: space-between;
}

/*.how-wrap__all__block__box {
  width: 31.2%;
  text-align: center;
}

.how__block__box__number {
  font-size: 3.125rem;
  font-weight: bold;
  color: #3E9D8F;
}

/*.how__block__box__txt {
  padding: 15% 6% 12%;
  background: #E5F4F2;
}*/

.how__block__box__txt__ttl {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 8%;
  
}



.how-wrap__all {
  position: relative;
}

.how-wrap__all__block__box {
  width: 25.8%;
  padding: 5% 2.5% 4.5%;
  text-align: center;
  background: #E5F4F2;
  position: relative;
    z-index: 2;
}

.how__block__box__number1 {
  display: block;
  width: 1.8rem;
  /*height: 3.25rem;*/
  height: 2.95rem;
  background-image: url(../img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.how__block__box__number2 {
  display: block;
  width: 1.8rem;
  height: 3.25rem;
  background-image: url(../img/2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.how__block__box__number3 {
  display: block;
  width: 1.8rem;
  height: 3.25rem;
  background-image: url(../img/3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

/*緑の横棒*/
.how-wrap__all::after {
  content: "";
  background: #AEDFD7;
  width: 33rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 28%;
  z-index: 1;
  transform: translateY(-50%);
}

.how-wrap__dw__block {
  text-align: center;
}

.how-wrap__dw__block__img {
  display: flex;
  justify-content: center;
}

.how-wrap__dw__block__img__img {
  /*width: 24.6%;*/
  width: 12rem;
  margin: 0 2.6%;
}

.how-wrap__dw__block__img__img img {
  width: 100%;
  height: 100%;
}


/* お客様の声voice */
.voice {
  background: rgba(240, 230, 140, 0.1);
  padding: 7% 0;
}

.__voice {
  font-size: 1.875rem;
}


/* よくある質問FAQ */
.faq {
  padding: 7% 0;
}

.faq-wrap__all {
  width: 78.13%;
  margin: 0 auto;
}

.faq-wrap__all__list {
  background: #E5F4F2;
  padding: 6.23%;
  margin: 4.45% 0 8.9% 0;
  border-radius: 1.875rem;
}

.faq_q {
  background: #FFB6C1;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 1.875rem 1.875rem 0 0;
  padding: 2.3% 0 2.3% 5%;
}

.faq_a {
  background: #fff;
  border-radius: 0 0 1.875rem 1.875rem;
  padding: 1.6% 5%;
}

.faq-wrap__all__list__item + .faq-wrap__all__list__item {
  margin-top: 5%;
}

.btn {
  /*width: 25rem;*/
  width: 20rem;
  margin: 0 auto;
  line-height: 2.8;
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(0.99, 0.99) translateY(2px);
  box-shadow: none;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  background: #3E9D8F;
  text-align: center;
  color: #fff;
  font-size: 1.875rem;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


/* お知らせNews */
.news {
  background: #E5F4F2;
  padding: 7% 0;
}

.news-wrap__all {
  background: #fff;
  border-radius: 1.875rem;
  padding: 3.1% 4.45%;
  margin-top: 4.45%;
}

.news-wrap__all__list__item {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2.5;
}

.news-wrap__all__list__item strong {
  color: #3E9D8F;
  font-size: 1.25rem;
  font-weight: bold;
}

.news-wrap__all__list p {
  font-size: 1.25rem;
  padding-bottom: 2%;
}

.news-wrap__all__list p:last-child {
  padding-bottom: 0;
}


/* お問い合わせcontact */
.contact {
  padding: 7% 0;
}

.__contact_dw {
  margin-top: 4%;
}


/*footer*/
.footer {
  background: #3E9D8F;
  padding: 2.5%;
}

.footer-wrap {
  width: 78.13%;
  margin: 0 auto;
}

.footer-wrap__all__block1 {
  display: flex;
  align-items: center;
}

.f-logo__1 {
  width: 25.68rem;
  height: 100%;
  margin-right: 2.5%;
}

.f-logo__1 img {
  width: 100%;
  height: 100%;
}

.f-logo__2 {
  width: 3.75rem;
  height: 100%;
}

.f-logo__2 img {
  width: 100%;
  height: 100%;
}

.footer-wrap__all__block2 {
  display: flex;
  justify-content: space-evenly;
}

.footer-wrap__all__block2__list {
  margin: 5% 0;
}

.footer-wrap__all__block2__list__item {
  margin-bottom: 12.5%;
}

.footer-wrap__all__block2__list__item a {
  color: #fff;
}

.__border {
  border-left:  solid 2px #fff;
  padding-left: 10px;
}

.__border .footer-wrap__all__block2__list__item:nth-of-type(3) {
  margin-bottom: 1%;
  /*3番目のliタグにmargin-bottom: 1%;*/
}


.footer-wrap__all__mail {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1%;
}

.footer-wrap__all__copyright {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}

/*レスポンシブ対応*/
@media screen and (min-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }
}






@media screen and (max-width: 1024px) {
  .header-wrap__nav__list__item a {
    font-size: 0.8rem;
  }

  .header-wrap__nav__list__item__contact a {
    font-size: 0.75rem;
  }

  .block__inner__ttl__t {
    font-size: 1.9rem;
  }

  .how-wrap__all__block__box {
    width: 24.8%;
  }

  .how-wrap__all::after {
    left: 5%;
  }


}

/*タブレット〜スマホ*/
@media screen and (max-width: 768px) {

  /*.header-wrap__nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }*/

  /* ハンバーガーメニュー */
    header .drawer {
      visibility: visible;
      /* 表示させる  PCではdrawerに対してvisibility: hidden; */
      width: 24px;
      position: absolute;
      top: 20px;
      right: 50px;
      border-top: solid 4px #000;
      /*drawerでは1番目の横線*/
      cursor: pointer;
      z-index: 100;
    }
  
    header .drawer::before,
    /*drawer::beforeでは2番目の横線*/
    header .drawer::after {
      /*drawer: :afterでは3番目の横線を表示*/
      content: "";
      display: block;
      width: 24px;
      background: #000;
      height: 4px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.5s;
      /*「×」を表示するスピードを指定*/
    }
  
    header .drawer::before {
      top: 6px;
    }
  
    header .drawer::after {
      top: 15px;
    }
  
    header .header-wrap__nav {
      position: fixed;
      /* 要素の位置を固定する */
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 50;
      background: #fff;
    }
  
    header .header-wrap__nav__list {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      /*ど真ん中に配置する方法*/
    }
  
    header .header-wrap__nav__list__item {
      margin: 5% auto;
    }
  
    header .header-wrap__nav__list__item a {
      line-height: 3;
      font-size: 1.5rem;
    }

      header .header-wrap__nav__list__item__contact a {
        line-height: 3;
        font-size: 1.5rem;
      }
  
    header .header-wrap__nav__list__item__contact {
      width: 13.5rem;
      border-radius: 50px;
    }
  
  
    /*”nav-open“(JS)のcss*/
    body.nav-open header .drawer {
      border-top: 0;
      /*（ハンガーバーメニューがクリックされた）場合、border-topを表示させない*/
    }
  
    body.nav-open header .drawer::before {
      top: 9px;
      transform: rotate(-45deg);
    }
  
    body.nav-open header .drawer::after {
      top: 9px;
      transform: rotate(45deg);
    }

    .header-wrap__logo {
      display: flex;
    }

    .top-wrap-block {
      flex-direction: column-reverse;
      align-items: center;
    }

    .top-wrap__ttl {
      text-align: center;
      padding-left: 0;
    }

    .top-wrap-right__img {
      width: 40vw;
    }

    .top-wrap-right {
      width: 48vw;
      justify-content: center;
    }

    .top-wrap-right__img {
      width: auto;
      height: 61vh;
    }

    .top-wrap-left {
      text-align: center;
    }

    .top-wrap-left__txt_1 {
      margin: 2% 0;
    }

    .top-wrap__txt_2 {
      font-size: 1.25rem;
    }

    .top-wrap-left__txt_3 {
      justify-content: space-evenly;
      margin-bottom: 8.4%;
    }

    .top-wrap__txt_3__dw {
      margin-right: 0;
      width: 180px;
    }

    .yellow_circle {
      width: 15rem;
      height: 15rem;
      top: 17rem;
      right: 8rem;
    }

    .pink_circle {
      width: 20rem;
      height: 20rem;
      top: 9rem;
      left: 3rem;
    }

    .problem-wrap-block1__inner {
      width: 95%;
    }

    .problem-wrap-block1__people__all {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .problem-people {
      height: 420px;
      width: 250px;
    }

    .problem-people-img {
      height: 235px;
      margin: 50px 3px 10px;
      width: 180px;
    }

    .problem-people-img img {
      object-fit: cover;
    }

    .problem-wrap-block2 {
      padding-top: 50px;
    }

    .problem-wrap-block3__people__all {
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .solution-people {
      width: 240px;
      margin: 1px;
    }

    .solution-people-img {
      height: 230px;
      width: 180px;
    }

    .solution-people-copy {
      font-size: 1rem;
    }

    .solution-people-copy2 {
      font-size: 29px;
      padding: 1rem 0;
    }

    .block__inner__ttl__t {
      font-size: 1.8rem;
      line-height: 1.1;/*4回目修正で追加*/
      
    }

    .about-wrap {
      width: 70%;
    }

    .about-wrap__all__block {
      padding: 4.5% 3%;
    }

    .about-wrap__all__block__inner__left {
      width: 27.8%;
    }

    .about-wrap__all__block__inner__right {
      width: 96%;
      text-align: center;
    }

    .block__inner__txt {
      text-align: start;
    }

    .about-wrap__all__block__inner {
      flex-direction: column;
      align-items: center;
    }

        .how-wrap__all {
          flex-direction: column;
          align-items: center;
          margin: 8% 0 8%;
        }
    
        .how-wrap__all__block__box {
          width: 350px;
          margin: 30px 0;
        }
    
        .how-wrap__all::after {
          transform: rotate(90deg);
          width: 30rem;
          left: 30%;
    
        }

    .how__block__box__number1 {
      height: 2.8rem;
    }


    .how-wrap__dw__block__img__img {
      width: 10rem;
    }

    .faq-wrap__all, .news-wrap {
      width: 93.05%;
    }

    .btn {
      width: 270px;
      line-height: 2.5;
    }

    .btn a {
      font-size: 25px;
    }

}


@media screen and (max-width: 480px) {
  .header-wrap__logo {
    width: 12rem;
  }

    header .drawer {
      visibility: visible;
      /* 表示させる  PCではdrawerに対してvisibility: hidden; */
      width: 24px;
      position: absolute;
      top: 12px;
      right: 29px;
      border-top: solid 4px #000;
      /*drawerでは1番目の横線*/
      cursor: pointer;
      z-index: 100;
    }
  
    header .drawer::before,
    /*drawer::beforeでは2番目の横線*/
    header .drawer::after {
      /*drawer: :afterでは3番目の横線を表示*/
      content: "";
      display: block;
      width: 24px;
      background: #000;
      height: 4px;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.5s;
      /*「×」を表示するスピードを指定*/
    }
  
    header .drawer::before {
      top: 6px;
    }
  
    header .drawer::after {
      top: 15px;
    }


  .top-wrap__ttl {
    font-size: 1.5625rem;
    font-weight: bold;
  }

  .yellow_circle {
    width: 10rem;
    height: 10rem;
    top: 15rem;
    z-index: -1;
  }

  .pink_circle {
    width: 15rem;
    height: 15rem;
    top: 8rem;
    left: 2rem;
    z-index: -2 ;
  }

  .top-wrap-left__txt_1 {
    font-size: 1rem;
    line-height: 2.1875;
  }

  .top-wrap-left__txt_3 {
    flex-direction: column;
    align-items: center;
  }

  .top-wrap__txt_3 {
    font-size: 1.3rem;
  }

  .top-wrap__txt_3__dw {
    width: 60%;    
  }

  .problem-wrap-block1__inner {
    width: 95%;
  }

  .ttl__problem {
    font-size: 1.8rem;
  }

  .problem-wrap-block1__people__all {
    flex-direction: column;
    align-items: center;
  }
  
  .problem-wrap-block1::before{
    bottom: -19px;
    width: 38px;
    height: 38px;
  }


  .problem-people {
    width: 62.5vw;
    margin-bottom: 20px;
  }

  .problem-people-img {
    margin: 12.5% auto 5%;
    width: 38vw;
  }

  .problem-wrap-block2 {
    padding-top: 13%;
  }

  .problem-wrap-block3__people__all {
    flex-direction: column;
    align-items: center;
    padding-top: 6.8%;
  }

  .logo_mark img {
    width: 40px;
  }

  .logo_mark_txt {
    font-size: 1.2rem;
  }

  .logo_mark_txt strong {
    font-size: 1.8rem;
  }

  .problem-block2-txt {
    font-size: 1.2rem;
  }

    .problem-block2-txt strong {
      font-size: 1.8rem;
    }

  .solution-people {
    width: 70vw;
    padding: 3.8% 5%;
    margin-bottom: 6.8%;
  }

  .solution-people-img {
    width: 39.7vw;
    height: 31vh;
  }

  .about-wrap__all__block__inner {
    flex-direction: column;
    align-items: center;
    /*text-align: center;*/
  }

  .about-wrap__all__block__inner__left {
    width: 40%;
  }

  .about-wrap__all__block__inner__right {
    width: 96%;
    text-align: center;
    margin-top: 4%;
  }

  .block__inner__ttl__t {
    font-size: 1.15rem;  
  }

  .block__inner__txt {
    text-align: start;
  }

  .how-wrap__all {
    flex-direction: column;
    align-items: center;
    margin: 8% 0 8%;
  }

  .how-wrap__all__block__box {
    width: 88%;
    margin: 8% 0;
  }

  .how-wrap__all::after {
    transform: rotate(90deg);
    left: 0%;
    width: 28rem;
    height: 30px;
  }

  .how__block__box__number1 {
    height: 2.5rem;
  }

  .how-wrap__dw__block__img {
    flex-direction: column;
    align-items: center;
  }

  .how-wrap__dw__block__img__img {
    width: 50%;
    margin-bottom: 8%;
  }

  .how-wrap__dw__block__img__img:last-child {
    margin-bottom: 0;
  }

  .how-wrap__dw__block__txt {
    margin-bottom: 5%;
  }

  .how__block__box__number2 {
    top: -32px;
  }

  .how__block__box__number3 {
    top: -32px;
  }

  .solution-people-copy2 {
    font-size: 1.6rem;
  }

  .faq_q {
    font-size: 1.1rem;
    padding: 2.3% 5%;
  }



  .faq-wrap__all__list {
    margin: 11.2% 0;
  }

  .contact , .faq{
    padding: 10.5% 0;
  }

  .btn {
    width: 15rem;
    line-height: 3;
  }

  .btn a {
    font-size: 1.3rem;
  }

  .__contact_dw {
    margin-top: 11%;
  }

  .news-wrap__all__list__item {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .news-wrap__all__list p {
    font-size: 1.1rem;
    padding-bottom: 1%;
  }

    .footer-wrap__all__block2 {
      display: block;
      margin: 5% 2.5%;
    }

    .footer-wrap__all__block2__list {
      margin: unset;
    }

    .footer-wrap__all__block2__list__item {
      margin: 3.25% 0;
    }



  




}